.navbar {
  background: #4a2f14;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .nav-links {
    gap: 10px;
  }
}
.emergency-btn {
  background-color: red;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  font-weight: bold;
}
.emergency-btn:hover {
  opacity: 0.8;
}
